@import '../../assets/styles/module.scss';

.hero {
    position: relative;
    background-image: url('../../assets/images/Hero/Photo.png');
    background-color: rgba(211, 211, 211, 0.50);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-blend-mode: multiply;

    @media screen and (max-width: $breakpoint60) {
        background-position: center;
        background-size: cover;
        }

    &__background {
        width: 100%;

        @media screen and (max-width: $breakpoint100) {
            position: absolute;
            inset: 0;
            
        }
    }

    &__backgroundImg {
        width: 100%;
        height: auto;

        @media screen and (max-width: $breakpoint100) {
            height: 100%;
        }
    }

    &__container {
        position: absolute;
        inset: 0;
        @include container;

        @media screen and (max-width: $breakpoint100) {
            position: relative;
            padding-block: 4rem;
            z-index: 1;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 53.1rem;

        @media screen and (max-width: $breakpoint60) {
            width: 100%
        }
    }

    &__margin {
        margin-block: 0.8rem 2.3rem;
    }
}





