@import '../../assets/styles/module.scss';

.thanks {
    &__container {
        @include container;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-block: 9.4rem 4.4rem;
    }

    &__bannerWrapper {
        margin-block-end: 27rem;
    }
}