@import '../../assets/styles/module.scss';

.headerMenu {
    &__burger {
        width: 6.6rem;
        height: 6.6rem;
        border: 0.1rem solid $headerBorders;
        border-radius: 50%;
        padding: 0.4rem;

        &_opened {
            & .headerMenu__burgerIcon_top,
            & .headerMenu__burgerIcon_bottom {
                width: 2rem;
            }

            & .headerMenu__burgerIcon_center {
                width: 3rem;
            }
        }

        @media screen and (min-width: 1101px ) {
            display: none;
        }
    }

    &__burgerInner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height:100%;
        border-radius: 50%;
        background-color: $yellowAccent;
    }

    &__burgerIcon {
        position: absolute;
        width: 0.6rem;
        height: 0.6rem;
        background-color: $titleColor;
        border-radius: 0.3rem;
        transition: width 0.3s linear;

        &_top {
            inset-block-start: 1.2rem;
        }
        
        &_bottom {
            inset-block-end: 1.2rem;
        }
    }
}



