@import '../../assets/styles/module.scss';

.teamCard {
    display: flex;
    flex-direction: column;
    max-width: 44.9rem;
    width: 100%;
    cursor: pointer;
    border-radius: 3rem;
    transition: all 0.3s linear;


    &:hover {
        box-shadow: 0 3rem 4.5rem rgba(150, 150, 150, 0.25);

        & .teamCard__infoWrapper {
            background-color: $white;
        }
    }

    &__imgWrapper {
        width: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
    }

    &__infoWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 3.5rem 2.8rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        transition: all 0.3s linear;
        background-color: $sectionGray;
    }

    &__personWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    &__title {
        @include singleFont($roboto, 800, 2.5rem, 120%);
        color: $titleColor;
        text-transform: capitalize;
    }

    &__role {
        @include singleFont($yellowtail, 400, 2.2rem, 120%);
        color: $greenAccent;
        text-transform: capitalize;
    }

    &__linksBar {
        display: flex;
        gap: 1.7rem;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    &__item {
        width: 2.2rem;
        height: 2.2rem;

        &_instagram {
            &:hover,
            &:focus {
                & .teamCard__icon {
                    fill: $instagram;
                }
            }
        }

        &_twitter {
            &:hover,
            &:focus {
                & .teamCard__icon {
                    fill: $twitter;
                }
            }
        }
    
        &_facebook {
            &:hover,
            &:focus {
                & .teamCard__icon {
                    fill: $facebook;
                }
            }
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__svg {
        width: 100%;
        height: 100%;
    }

    &__icon {
        fill: $titleColor;
        transition: all 0.3s linear;
    }
}