@import '../../assets/styles/module.scss';

.offerbanner {
    padding-block: 14.5rem 19rem;

    @media screen and (max-width: $breakpoint90) {
        padding-block: 5rem;
    }

    &__container {
        @include container;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media screen and (max-width: $breakpoint90) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}