/* colors */
$white: #ffffff;
$titleColor: #274C5B;
$textColor: #525C60;
$greenAccent: #7EB693;
$yellowAccent: #EFD372;
$headerSearch: #fafafa;
$headerBorders: #e0e0e0;
$cartRed: #f00f00;
$heroBackground: #e3f1e9;
$subtitleGreen: #68A47F;
$buttonArrow: #335B6B;
$acoutUsCard: #fff4cd;
$sectionGray: #F9F8F8;
$productCardGray: #B8B8B8;
$productCardGold: #FFA858;
$lightGreen: #EFF6F1;
$cartBackground: rgba(253, 176, 45, 0.16);
$gray: #D4D4D4;
$placeholders: #ababab;
$errorBackground: #bbc9c9;
$error404: #8FA8A8;
$testimonialBackground: #fcfcfc;
$testimonialPhotoBackground: #dfdfdf;
$counterBackground: #f1f1f1;
$galleryBackground: #f1f8f4;
$twitter: #1da1f2;
$pinterest: #f0002a;
$facebook: #1877f2;
$instagram: #c92bb7;
$opasity: rgba(255, 255, 255, 0.5);
$whyChooseUsCard: #ececec;

/* fonts */
$yellowtail: 'Yellowtail', serif;
$openSans: 'OpenSans', serif;
$roboto: 'Roboto', serif;

/* breakpoints */
$breakpoint192: 1920px;
$breakpoint170: 1700px;
$breakpoint160: 1600px;
$breakpoint140: 1400px;
$breakpoint130: 1300px;
$breakpoint120: 1200px;
$breakpoint115: 1150px;
$breakpoint110: 1100px;
$breakpoint100: 1000px;
$breakpoint95: 950px;
$breakpoint90: 900px;
$breakpoint80: 800px;
$breakpoint75: 750px;
$breakpoint70: 700px;
$breakpoint60: 600px;
$breakpoint55: 550px;
$breakpoint50: 500px;
$breakpoint45: 450px;
$breakpoint40: 400px;