@import '../../assets/styles/module.scss';

.aboutOffers {
    background-color: $titleColor;
    padding-block: 18.8rem;
    margin-block-end: 14.1rem;

    @media screen and (max-width: $breakpoint80) {
        padding-block: 5rem;
        margin-block-end: 5rem;
    }

    &__container {
        @include container;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__titleWrapper {
        margin-block: 0.8rem 3.3rem;
        text-align: center;
    }

    &__cardsWrapper {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}