@import '../../assets/styles/module.scss';

.addProducts {
    &__container {
        @include container;
    }

    &__wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-block: 5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    &__inputWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__label {
        @include singleFont($roboto, 600, 1.8rem, 120%);
        color: $titleColor;
        text-transform: capitalize;
    }

    &__inputLine {
        @include singleFont($openSans, 400, 1.8rem, 120%);
        color: $textColor;
        width: 100%;
        padding: 0.5rem 2rem;
        border: 0.1rem solid $greenAccent;
        border-radius: 1rem
    }

    &__inputArea {
        @include singleFont($openSans, 400, 1.8rem, 120%);
        color: $textColor;
        resize: none;
        padding: 0.5rem 2rem;
        border: 0.1rem solid $greenAccent;
        border-radius: 1rem
    }

    &__inputFile {
        @include singleFont($openSans, 400, 1.8rem, 120%);
        color: $textColor;
    }

    &__button {
        @include singleFont($openSans, 400, 1.8rem, 120%);
        color: $white;
        padding: 1rem 3rem;
        background-color: $titleColor;
        text-transform: uppercase;
        width: fit-content;
        border-radius: 1rem;
        cursor: pointer;
    }

    &__alert {
        padding: 1rem 0;
        @include singleFont($roboto, 400, 2rem, 120%);
        color: $cartRed;
    }
}