@import '../../assets/styles/module.scss';

.subscription {
    background-color: $sectionGray;
    &__container {
        @include container
    }

    &__wrapper {
        padding-block: 5rem;
        margin-block-end: 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        @include singleFont($roboto, 400, 2rem, 120%);
        color: $titleColor;
    }
}